<%= turbo_frame_tag 'form' do %>
  <%= form_with model: period, method: :post, class: "ui form #{period.errors.any? ? 'error' : ''}", data: { modal_target: 'form', action: 'turbo:submit-end->modal#close' } do |f| %>
    <div class="field">
      <%= f.label :started_on, '開始日' %>
      <%= f.date_field :started_on %>
    </div>
    <div class="field">
      <%= f.label :ended_on, '終了日' %>
      <%= f.date_field :ended_on %>
    </div>
    <% if period.errors.any? %>
      <div class="ui error message">
        <ul class="list">
          <% period.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.submit '登録', class: 'actions ui fluid large teal submit button' %>
  <% end %>
<% end %>
