<%= turbo_frame_tag @period do %>
  <%= form_with model: @period, method: :put, class: "ui form #{@period.errors.any? ? 'error' : ''}" do |f| %>
    <div style="display: flex;  justify-content: space-between">
      <div style="display: flex; align-items: center;" class="sp-column">
        <div class="inline field" style="margin:0">
          <%= f.date_field :started_on %>
        </div>
        <div style="padding:10px">-</div>
        <div class="inline field" style="margin:0">
          <%= f.date_field :ended_on %>
        </div>
      </div>
      <div style="display: flex; align-items: center" class="sp-column">
        <%= f.submit '更新', class: 'ui mini button' %>
        <%= link_to 'キャンセル', periods_path, class: 'ui mini button' %>
      </div>
    </div>
    <% if @period.errors.any? %>
      <div class="ui error message">
        <ul class="list">
          <% @period.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div class="ui divider"></div>
<% end %>
