<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui teal image header">
      <div class="content">
        Reset your password
      </div>
    </h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ui large form' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="ui stacked segment field">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
          </div>
        </div>

        <%= f.submit t('.send_me_reset_password_instructions'), class: 'actions ui fluid large teal submit button' %>
      </div>

      <% if alert %>
        <div class="ui error message"><%= alert %></div>
      <% end %>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
