<%= turbo_frame_tag 'user_body_data' do %>
  <%= form_with model: @user, url: user_setting_path, class: 'ui form' do |f| %>
    <div class="inline field">
      <div style="display: flex; justify-content: space-between; align-items: center; padding-right: 10px; margin-bottom: 20px;">
        <div><%= f.label :goal_weight, '目標体重' %></div>
        <div style="display: flex; justify-content: space-around; align-items: center">
          <%= f.text_field :goal_weight, data: { autonumeric: true }, style: 'width: 80%' %> kg
        </div>
      </div>
    </div>
    <div class="inline field">
      <div style="display: flex; justify-content: space-between; align-items: center; padding-right: 10px; margin-bottom: 20px;">
        <div><%= f.label :height, '身長' %></div>
        <div style="display: flex; justify-content: space-around; align-items: center">
          <%= f.text_field :height, data: { autonumeric: true }, style: 'width: 80%' %> cm
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: end">
      <%= f.submit '更新', class: 'ui button' %>
      <%= link_to 'キャンセル', user_setting_path, class: 'ui button' %>
    </div>
  <% end %>
<% end %>
